@import './variables.scss';
@import './header.scss';
@import './topic_list.scss';
@import './user_info.scss';
@import './animations.scss';
@import './user_topics.scss';
@import './me_form_cont.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  text-decoration: none;
}

.container {
  width: 75%;
  display: block;
  margin: 0 auto;
}

input[type='submit']{
  padding: 8px 12px;
  border-radius: 4px;

  &:hover {
    background-color: lightblue;
    cursor: pointer;
  }
  &:active {
    background-color: orange;
  }
}

.relative {
  position: absolute;
  right: calc(100vh - 25%);
}

.off_right {
  position: absolute;
  right: -2000px;
}
