@import './variables.scss';
@import './header.scss';
@import './topic_list.scss';
@import './user_info.scss';
@import './animations.scss';
@import './user_topics.scss';
@import './me_form_cont.scss';
@import './create_topic_form.scss';
@import './modal.scss';
@import './thread.scss';
@import './post_form.scss';
@import './nav.scss';
@import './group_card.scss';
@import './group_info.scss';
@import './search_form.scss';
@import './invite_list.scss';
@import './big_slider.scss';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover{
    color: $dark-blue-green;
  }

}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  text-decoration: none;

  a {
    &:hover {
      cursor: pointer;
    }
  }
}

.container {
  width: 75%;
  display: grid;
  margin: 0 auto;
  margin-top: 20px;

  .call_to {
    padding: 1em 1.25em;
    font-size: 1.25em;
    background-color: $chill-aqua;
    margin-bottom: 20px;
  }

  .call_to:hover {
    background-color: #31a6aa;
  }

  .call_to a:hover {
    color: white;
  }

  @media #{$medium-and-down}{
    width: 100%;
    margin: auto;
  }

}

.center_marg {
  margin: 0 auto;
}

.center_cont {
  justify-self: center;
}

.span_two_col {
  grid-column: 1 / 3;
}


.pos_right {
  margin-left: auto;
}

input[type='submit']{
  padding: 8px 12px;
  border-radius: 4px;
  margin: 10px;
  background-color: $steel-pink;
  color: white;
  outline: none;

  &:hover {
    cursor: pointer;
    background-color: $midnight-purple;
  }
  &:active {
    background-color: $dark-blue-green;
  }
}


.off_right {
  position: absolute;
  right: -2000px;
}

.off_left {
  position: absolute;
  left: -2000px;
}

button {
  outline: none;
  color: white;
  background-color: #C52BC5;
  border-radius: 12px;
  border: 1px solid #651665;
  box-shadow: 3px 3px grey;

  &:hover {
    background-color: #E790E7;
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    background-color: grey !important;
  }
}

.center_text {
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

textarea {
  resize: none;
}

.big_button {
    padding: .75em;
    font-size: 1.25em;
    width: 175px;
}

.text_focus {

    &:hover{
      border-color: #C52BC5;
    }

    &:focus {
      border-left: 6px solid #C52BC5;
      outline: none;
    }
}

.hide {
  display: none;
}

nav {
  position: relative;
}

.color_container {
  margin: 1em auto !important;
  display: grid !important;
  align-items: center;
  justify-items: center;
  border: 3px solid lightgrey;
  padding: 1em;
  background-color: $pale-purple;
}

.drops_cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 80%;
  margin: 0 auto;

  ul {
    align-self: start;
  }
}

.caret_drop_cont {

  display: grid;
  grid-template-rows: auto 1fr;

  .caret_drop {
    text-align: center;
    display: grid;
    border: 2px solid black;
    width: 400px;
    margin: 0 auto 2em auto;
    box-shadow: 5px 2px 4px grey;

    li {
      width: 90%;
      margin: .5em auto;
      padding: .75em;
      border: none;
      border-bottom: 1px solid $steel-pink;
    }
  }
}

form {
  input {
    border: none;
    border-bottom: 2px solid lightgrey;
    border-radius: 8px;
    padding: 10px;
  }

  select {
    outline: none;
    padding: .5em;
    border: 2px solid $chill-aqua;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;

    &::selection {
      background-color: lightgrey !important;
    }
  }

  option {
    background-color: white;
  }
}

.purple_form {
  width: 60%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 2em;
  border: 4px solid #C52BC5;
  border-radius: 12px;
  padding: 2em;

  input {
    width: 80%;
  }
}

hr {
  border: 1px solid $french-mauve;
  width: 100%;
}

.two_col_fr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

.two_col_70_30 {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-auto-rows: auto;
}



.gap_4 {
  grid-gap: 4em;
}

i {
  transition: 1s;
}

.manage_card {
  padding: 1em;
  width: 80%;
  display: grid;
  justify-items: center;
  background-color: white;
  box-shadow: 3px 4px lightgrey;
  transition: 1s;
}

.pressed_card {
  box-shadow: -3px -3px lightgrey;
}
