@import './variables.scss';
@import './header.scss';
@import './topic_list.scss';
@import './user_info.scss';
@import './animations.scss';
@import './user_topics.scss';
@import './me_form_cont.scss';
@import './create_topic_form.scss';
@import './modal.scss';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  text-decoration: none;
}

.container {
  width: 75%;
  display: grid;
  margin: 0 auto;
}


  .pos_right {
    margin-left: auto;
  }

input[type='submit']{
  padding: 8px 12px;
  border-radius: 4px;
  margin: 10px;

  &:hover {
    background-color: lightblue;
    cursor: pointer;
  }
  &:active {
    background-color: orange;
  }
}


.off_right {
  position: absolute;
  right: -2000px;
}

.off_left {
  position: absolute;
  left: -2000px;
}

button {
  outline: none;
  color: white;
  background-color: #C52BC5;
  border-radius: 12px;
  border: 1px solid #651665;
  box-shadow: 3px 3px grey;

  &:hover {
    background-color: #E790E7;
    cursor: pointer;
  }

  &:active {
    // border: 6px solid #651665;
  }

  &:disabled {
    background-color: #551355;
  }
}

.center_text {
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

textarea {
  resize: none;
}

.big_button {
    padding: 25px;
    font-size: 1.45em;
    width: 200px;
}
