.header {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px;
  background-color: $midnight-purple;
  color: white;

  h1 {
    margin-left: .25em;
    margin-right: .1em;
  }

  h1, h4 {
    font-family: Ubuntu, sans-serif;
    display: inline-block;
    align-self: center;
  }

  .branding {
    grid-column: 0 / 1;
  }

  nav {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;

    a {
      display: inline;
      margin: 0 1em;

      h2 {
        display: inline;
      }
    }

  }



}
