.drop_nav {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  display: grid;
  grid-template-rows: 40px;
  grid-auto-columns: 120px;
  grid-auto-flow: column;
  right: 120vw;
  top: 55px;
  transition: right 1s cubic-bezier(0.88, 0.74, 0, 1.04);


  a {
    background-color: $steel-pink;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    border: 4px solid $midnight-purple;
  }

  li {
    margin-top: 6px;
    display: block;
    font-size: 1.25em;
  }
}

nav i {
  color: white;
  transition: color 1.25s;

  &:hover {
    cursor: pointer;
  }
}

.grey {
  color: grey;
}

.show_nav {
  right: 10px !important;
  top: 55px;
}
