.drop_nav {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  display: grid;
  grid-template-rows: 40px;
  grid-auto-columns: 120px;
  grid-auto-flow: column;
  right: 120vw;
  top: 50px;
  transition: right 1s cubic-bezier(0.88, 0.74, 0, 1.04);

  li {
    position: relative;
    display: grid;
    width: 100%;
    font-size: 1.25em;
    border-radius: 30px;
    border: 4px solid $midnight-purple;
    background-color: $steel-pink;

    &:hover ul li {
      display: grid;
    }

    a {
      justify-self: center;
      align-self: center;
      margin: 0;
    }

    ul {
      position: absolute;
      top: 35px;

      li {
        width: 115px;
        height: 40px;
        display: none;

        a {
          font-size: .75em;
          text-align: center;
          margin: 0;
        }
      }
    }
  }

  .sub_nav_head {
    background-color: $steel-pink;

    &:hover {
      background-color: $chill-aqua;
      border-color: $dark-blue-green;
    }

  }
}

nav i {
  color: white;
  transition: color 1.25s;

  &:hover {
    cursor: pointer;
  }
}

.grey {
  color: grey;
}

.show_nav {
  right: 10px !important;
  top: 55px;
}
