.search_form {

  input[type=text]{
    width: 80%;
    justify-self: center;
  }

  p {
    width: 90%;
    margin: 0 auto;
  }

  select {
    width: 50%;
  }

  input[type=submit]{
    width: 60%;
    font-size: 1.25em;
  }

}
