.topic_list {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  background-color: $pale-purple;
  margin: 1em;
  padding: 1em;

  h1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }

  h3 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .date {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  p {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .replies {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  i {
    margin-left: 20px;
  }

}
